body {
    font-family: arial, helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #B6E8FE;
    margin-right: 300px;
	margin-left: 300px;
    padding: 0;
	border: 
}

/* This is a comment, by the way */

p {
    line-height: 21px;
}

h1 {
    color: white;
    background-color: Red;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #F08080;
}

h2 {
    color: white;
    background-color: Red;
    font-size: 1.5em;
    margin: 0;
    padding: 2px;
    padding-left: 14px;
}

h3 {
    color: white;
    font-size: 1.25em;
	background-color: #FE0190;
	
}

img {
    border-style: outset;
    border-width: 2px;
    border-color: #ccc;
}

a {
    text-decoration: none;
	color: #FE5501
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: black;
    font-style: italic;
}

table {
    background-color: #7014A5;
	color: white;
}
